<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Site" value="wegmans-uat.compliancemetrix.com"/>
    <add key="UserName" value="business.api.client"/>
    <add key="Password" value="Wegmans2018!"/>
    <!-- TODO: Obtain API credentials and save them here --><!--
    <add key="Site" value=""/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>