<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <!-- TODO: Obtain API credentials and save them here -->
    <add key="Site" value=""/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="UseSsl" value="True"/>
    <add key="Port" value="-1"/>    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>